 @import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    
    background-color:#81E3A4;
    
}

th, td, tr{
       border: 1px solid black;
        border-radius: 15px;
        font-family:'Raleway', sans-serif;
}

table{
    text-align: center;
}

.AICourse{
    color:darkred;
}
h1, h3, h4, p, li, a, em, spane, label, button, placeholder {
    
    font-family:'Raleway', sans-serif;
}